@charset "UTF-8";

#mainNav{
	margin:auto;
}
#mainNav li{
	padding:10px;
	padding-right:20px;
}

#joinInfo{
	display:inline-block;
}

#button-newsletter{
	color:black;
	margin-right:170px;
}

.col-lg-6 p a {
	text-decoration:none;
	color:black;
}

.col-lg-6 p a:hover{
	color:red;	
}

#container{
	border:1px solid black;
	background-color:black;
}

/* Set the size of the div element that contains the map */
  #map {
  	margin:auto;
    height: 400px;
    /* The height is 400 pixels */
    width: 85%;
    /* The width is the width of the web page */
  }
            